@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f8f8f8;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
  overflow-x: hidden;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

p,
a,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", sans-serif;
}

@media screen and (min-width: 768px) {
  .dynamic-grid-rows {
    grid-template-rows: repeat(10, minmax(15px, 1fr));
  }
}

.card {
  position: relative;
  overflow: hidden;
  background-color: #fff;
  border-radius: 1rem;
  padding: 20px;
  transition: transform 0.3s ease;
}

.card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("/images/glass.jpg");
  background-size: cover;
  background-position: center;
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: 1;
}

.card::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0)
  );
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: 2;
}

.card:hover::after {
  opacity: 1;
}

.card:hover::before {
  opacity: 0.5;
}

.form-control:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px transparent inset !important;
  box-shadow: 0 0 0 1000px transparent inset !important;
  -webkit-text-fill-color: #fff !important;
  color: #fff !important;
  background-color: transparent !important;
  background-clip: border-box !important;
  transition: background-color 5000s ease-in-out 0s !important;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: #39bcf9;
  border-radius: 6px;
  border: 3px solid rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-track {
  background-color: #3f3f46;
}
